{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'region.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">

    <title>О нас | Starbucks</title>
</head>
<body>
    <!-- Хедер -->
    <header>
        <a class="active" href="{% url 'home' %}">
            <img src="{% static 'media/mini-logo.svg' %}" alt="logo">
        </a>
        <a class="" href="{% url 'menu' %}">МЕНЮ</a>
        <a class="" href="{% url 'delivery' %}">ДОСТАВКА</a>
        <a class="" href="{% url 'region' %}">O STARBUCKS В РЕГИОНЕ MIDDLE EAST</a>
        <a class="" href="{% url 'statement' %}">ОФИЦИАЛЬНОЕ ЗАЯВЛЕНИЕ STARBUCKS</a>
    </header>

    <div class="main">
        <aside>
            <img src="{% static 'media/Logo.png' %}" alt="Logo STARBUCKS">
            <div>
                <button>Заказать доставку</button>
                <button>Кофейни рядом</button>
            </div>
        </aside>
    
        <main>
            <div class="container-2">
                
                <div class="banner">
                    <img src="{% static 'media/o-nas-2.jpg' %}" alt="">
                </div>

                <div class="information">
                    <div class="statement">
                        <h2>О нас</h2>
                        <p>
                            Каждую неделю миллионы раз гостей забирают свой напиток от бариста Starbucks®, – но каждый такой момент уникален.
                        </p>
                        <p>
                            Всего лишь одно мгновение – бариста протягивает над стойкой свою руку, чтобы передать чашку в руку, протянутую навстречу. 
                        </p>
                        <p>
                            Но это именно то мгновение, когда между нами и нашими гостями возникает связь.
                        </p>
                        <p> 
                            Мы ценим эту связь на каждом этапе своей работы: начиная с момента, когда отбираем кофе самого высокого качества, 
                            до момента взаимодействия с нашими гостями и сообществами, чтобы вести бизнес ответственно.
                        </p>
                        <p> 
                            С момента открытия первой кофейни Starbucks, где бы мы ни находились, где бы мы ни встречались, мы стараемся укрепить эту связь.
                        </p>
            
                        <h2>Наше наследие</h2>
                        <p>
                            Каждый день по дороге на работу мы надеемся сделать две вещи: поделиться великолепным кофе с нашими друзьями и сделать мир немного лучше.
                        </p>
                        <p>
                            Эти моменты значимы для нас сейчас так же, как были , когда мы открыли первую кофейню Starbucks в 1971 году.
                        </p>
                        <p>
                            Тогда компания состояла лишь из одного кофейного магазина, расположенного в Сиэтле на знаменитом рынке Pike Place Market.  
                            Starbucks продавала покупателям один из лучших в мире кофе из свежеобжаренных цельных кофейных зерен. 
                            Название магазина было навеяно романом «Моби Дик» – оно пробуждает мечты о романтике дальних плаваний и морских традициях первых торговцев кофе. 
                            Роман Мелвилла вдохновил нас на создание логотипа с сиреной и оформление интерьера магазина в лаконичном «морском» стиле.
                        </p>
                        <p>
                            В 1981 году Говард Шульц (Howard Schultz, председатель, президент и исполнительный директор компании Starbucks) впервые переступил порог нашей компании. 
                            После первой же чашки кофе Sumatra Говард был очарован Starbucks и через год присоединился к компании.
                        </p>
                        <p>
                            Спустя ещё один год, в 1983 году, Говард путешествовал по Италии и был вдохновлён романтичной атмосферой итальянских кофеен. 
                            У него возникла идея использовать итальянские кофейные традиции в Соединенных Штатах. Кофейня должна была стать местом, 
                            где покупатели могли бы общаться и ощущать чувство единения друг с другом. Местом, куда приходят так же часто, как домой или на работу. 
                            Говард ненадолго покинул Starbucks, чтобы открыть свою собственную сеть кофеен II Giornale, и вернулся в августе 1987 года, 
                            выкупив компанию с помощью местных инвесторов.
                        </p>
                        <p>
                            С самого начала Starbucks позиционировалась как компания совершенно нового типа. Компания, 
                            которая не только воспевала кофе и прекрасные традиции, но и связывала людей, принося чувство единения. 
                        </p>
                        <p>
                            Сегодня в сети компании более 32 000 кофеен в 80 странах и Starbucks является ведущим мировым производителем и продавцом фирменного кофе. 
                            И с каждой чашкой мы стремимся воплотить в жизнь как своё наследие, так и свой исключительный опыт.
                        </p>
            
                        <h2>Принципы Starbucks</h2>
                        <p>
                            В основе наших ценностей - наши партнеры, наш кофе и наши гости:
                        </p>
                        <p>
                            Создавать атмосферу теплоты и дружелюбия, становясь местом, где каждому рады. 
                        </p>
                        <p>
                            Не останавливаться на достигнутом, каждый раз находя новые     способы развития Компании и каждого из нас.
                        </p>
                        <p>
                            Быть собой, общаясь искренне, с достоинством и уважением.
                        </p>
                        <p>
                            Делать все на высшем уровне, превосходя ожидания.
                        </p>
                        <p>
                            Мы нацелены на эффективность бизнеса, сохраняя вовлеченность в жизнь общества, гостей и партнеров! 
                        </p>
                    </div>
            
                </div>
                
            </div> 

            <footer class="footer">
                <div class="footer-section">
                    <a href="{% url 'about' %}"><h2>О нас</h2></a>
                    <a href="https://www.starbucks.com.kz/svyazhites-s-nami"><h2>Связаться с нами</h2></a>
                    <a href="https://www.starbucks.com.kz/otvetstvennost"><h2>Социальная ответственность</h2></a>
                    <a href="#"><h2>Программа лояльности Starbucks</h2></a>
                </div>

                <div class="footer-social">
                    <a href="#"><img src="{% static 'media/Facebook.svg' %}" alt="Facebook"></a>
                    <a href="#"><img src="{% static 'media/Instagram.svg' %}" alt="Instagram"></a>
                </div>

                <div class="footer-policies">
                    <a href="https://www.starbucks.com.kz/polozhenie-o-konfidencialnosti">Положение о конфиденциальности</a>
                    <a href="https://www.starbucks.com.kz/usloviya-ispolzovaniya-sayta">Условия использования сайта</a>
                    <a href="#">Политика Starbucks в отношении файлов cookie</a>
                    <a href="https://www.starbucks.com.kz/publichnaya-oferta">Публичная оферта</a>
                </div>
            </footer>
        </main>

    </div>

</body>
</html>