{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'region.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">

    <title>O STARBUCKS В РЕГИОНЕ MIDDLE EAST</title>
</head>
<body>
    <!-- Хедер -->
    <header>
        <a class="active" href="{% url 'home' %}">
            <img src="{% static 'media/mini-logo.svg' %}" alt="logo">
        </a>
        <a class="" href="{% url 'menu' %}">МЕНЮ</a>
        <a class="" href="{% url 'delivery' %}">ДОСТАВКА</a>
        <a class="" href="{% url 'region' %}">O STARBUCKS В РЕГИОНЕ MIDDLE EAST</a>
        <a class="" href="{% url 'statement' %}">ОФИЦИАЛЬНОЕ ЗАЯВЛЕНИЕ STARBUCKS</a>
    </header>

    <div class="information">
        <div class="statement">
            <h2>Заявление Starbucks Corporation</h2>
            <h2>Факты о Starbucks Middle East</h2>
            <p>Несмотря на американские корни, Starbucks компания международная — у нас есть представительства в 86 странах мира, 
                включая больше 1900 торговых точек в 11 государствах Ближнего Востока и Северной Африки, где зеленую униформу носят свыше 19 тысяч партнеров (сотрудников). 
                Мы активно участвуем в жизни каждой страны, где ведем свою деятельность: взаимодействуем с местными бизнес-партнерами, 
                которые управляют нашими торговыми точками, обеспечиваем работой тысячи местных жителей, обслуживаем миллионы клиентов и положительно влияем на многих других людей, 
                поддерживая благополучие районов и городов, где находятся наши заведения.
            </p>
            <p>
                У нас 400 тысяч партнеров по всему миру, и на многие вопросы они смотрят по-разному, 
                    но даже с этой разницей во взглядах компания Starbucks была и остается вне политики. Ни Starbucks, ни бывший председатель правления, 
                    президент и генеральный директор компании Говард Шульц не оказывают никакой финансовой поддержки ни израильскому правительству, ни израильской армии.
            </p>
            <p>
                Мы верны своим убеждениям и сохраняем фокус своего внимания на главной цели нашей компании: поддерживать связь со своими партнерами и 
                клиентами за чашкой кофе высочайшего качества и создавать у них максимально положительный опыт независимо от географии.
            </p>   

            <h2>ВОПРОСЫ И ОТВЕТЫ</h2>
            <h2>Правда ли, что Starbucks или Говард Шульц оказывают финансовую поддержку Израилю?</h2>
            <p>
                Нет. Это совершенно не соответствует истине. Слухи о том, что Starbucks или Говард Шульц финансируют израильское правительство или израильскую армию, 
                не имеют под собой никаких оснований. Starbucks — публичная компания, а значит она обязана ежегодно сообщать акционерам о любых своих корпоративных пожертвованиях.
            </p>

            <h2>Отправляла ли когда-нибудь Starbucks часть своей прибыли израильскому правительству или израильской армии?</h2>
            <p>
                Нет. Это совершенно не соответствует истине. 
            </p>

            <h2>Правда ли, что компания Starbucks закрыла свои заведения в Израиле по политическим причинам</h2>
            <p>
                Нет. Политические вопросы не влияют на наши бизнес-решения. Мы решили прекратить свое партнерство с Израилем в 2003 году из-за постоянных проблем, 
                которые мешали нам успешно работать на этом рынке. Мы несколько месяцев вели с партнером обсуждение и в итоге пришли к согласию. 
                Это решение было трудным для обеих компаний, но мы верим, что сделали верный шаг.
            </p>

            <h2>Планируете ли возобновить работу в Израиле, если появится такая возможность?</h2>
            <p>
                Мы решили прекратить свое партнерство с Израилем в 2003 году из-за постоянных проблем, которые мешали нам успешно работать на этом рынке.
            </p>
            <p>
                Когда и если условия станут благоприятными, и мы поймем, что на рынке есть ниша для бренда Starbucks, мы обратимся к местному партнеру и с его помощью постараемся оценить, 
                насколько услуги нашего бренда подходят местному сообществу. Таким образом, мы будем и дальше отслеживать все возможности, 
                а пока продолжим развивать свою деятельность на Ближнем Востоке, поскольку, к нашему глубочайшему удовлетворению, бренд хорошо принимают в регионе. 
                Мы по-прежнему тесно сотрудничаем с нашим деловым партнером Alshaya Group и разрабатываем совместные планы для этого региона.
            </p>

            <h2>Вы привлекаете ближневосточных партнеров к управлению торговыми точкам Starbucks?</h2>
            <p>
                Starbucks работает на Ближнем Востоке с 1999 года. Мы заключили лицензионное соглашение с торговым партнером, 
                которым является частная семейная компания из Кувейта MH Alshaya Co. WLL. Сейчас под управлением Alshaya Group, 
                одного из ведущих и наиболее влиятельных франчайзинговых предприятий бренда в регионе, находятся более 1900 торговых точек Starbucks. 
                География их расположения простирается от Северной Африки до Центральной Азии, охватывая Турцию и Ближний Восток.
            </p>
            <p>
                Мы гордимся тем, что успешно сотрудничаем с Alshaya Group вот уже более 20 лет. Надеемся, и в будущем нас будет сопровождать успех.
            </p>

            <h2>На каких рынках Ближнего Востока и Северной Африки вы присутствуете?</h2>
            <p>
                Мы сотрудничаем с компанией Alshaya Group, которая управляет торговыми точками Starbucks на  Ближнем Востоке и в Северной Африке: в Бахрейне, 
                Египте, Иордании, Кувейте, Ливане, Марокко, Омане, Катаре, Саудовской Аравии, Турции и ОАЭ, а также в Казахстане. Мы рады, 
                что у нас есть возможность работать с таким множеством сообществ. Предоставляя услуги Starbucks, мы соблюдаем местные обычаи и уважаем культуру стран, 
                в которых работаем. Мы также стараемся нанимать сотрудников из числа местных жителей, создавая тысячи рабочих мест в странах нашей работы.
            </p>
        </div>
        
    </div>

    <footer class="footer">
        <div class="footer-section">
            <a href="{% url 'about' %}"><h2>О нас</h2></a>
            <a href="https://www.starbucks.com.kz/svyazhites-s-nami"><h2>Связаться с нами</h2></a>
            <a href="https://www.starbucks.com.kz/otvetstvennost"><h2>Социальная ответственность</h2></a>
            <a href="#"><h2>Программа лояльности Starbucks</h2></a>
        </div>

        <div class="footer-social">
            <a href="#"><img src="{% static 'media/Facebook.svg' %}" alt="Facebook"></a>
            <a href="#"><img src="{% static 'media/Instagram.svg' %}" alt="Instagram"></a>
        </div>

        <div class="footer-policies">
            <a href="https://www.starbucks.com.kz/polozhenie-o-konfidencialnosti">Положение о конфиденциальности</a>
            <a href="https://www.starbucks.com.kz/usloviya-ispolzovaniya-sayta">Условия использования сайта</a>
            <a href="#">Политика Starbucks в отношении файлов cookie</a>
            <a href="https://www.starbucks.com.kz/publichnaya-oferta">Публичная оферта</a>
        </div>
    </footer>
</body>
</html>