{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'region.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">

    <title>ОФИЦИАЛЬНО ЗАЯВЛЕНИЕ STARBUCKS</title>
</head>
<body>
    <!-- Хедер -->
    <header>
        <a class="active" href="{% url 'home' %}">
            <img src="{% static 'media/mini-logo.svg' %}" alt="logo">
        </a>
        <a class="" href="{% url 'menu' %}">МЕНЮ</a>
        <a class="" href="{% url 'delivery' %}">ДОСТАВКА</a>
        <a class="" href="{% url 'region' %}">O STARBUCKS В РЕГИОНЕ MIDDLE EAST</a>
        <a class="" href="{% url 'statement' %}">ОФИЦИАЛЬНОЕ ЗАЯВЛЕНИЕ STARBUCKS</a>
    </header>

    <div class="information">
        <div class="statement">
            <h2>ОФИЦИАЛЬНО ЗАЯВЛЕНИЕ STARBUCKS</h2>
            <p>
                Правда – это то, что имеет значение для Starbucks. В ответ на ложную информацию мы делимся фактами о том, во что на самом деле верит и за что выступает Starbucks.
            </p>
            <p>
                В Starbucks правда и прозрачность процессов необходимы для выполнения нашей миссии, выполнения наших обещаний и соблюдения наших ценностей. 
                Поэтому, когда дезинформация о нашей компании распространяется с молниеносной скоростью во все более полярном мире, 
                мы считаем крайне важным реагировать фактами и подтверждать нашу позицию по ключевым вопросам.
            </p>
            <p>
                В связи с продолжающимся распространением ложной и вводящей в заблуждение информации о Starbucks 
                мы обобщаем некоторые из наиболее часто задаваемых вопросов о бренде и отвечаем фактами.
            </p>

            <h2>Какова позиция Starbucks касательно конфликта в Израиле и Газе?</h2>
            <p>
                Наша позиция остается неизменной. Starbucks выступает за гуманность. Мы осуждаем насилие, гибель невинных людей и все проявления ненависти и использование оружия. 
            </p>
            <p>
                Несмотря на ложные заявления, распространяемые в социальных сетях, мы никоим образом не связаны с политикой.  
                Мы не используем нашу прибыль для финансирования каких–либо правительственных или военных операций где бы то ни было - и никогда не использовали.
            </p>

            <h2>Представлена ли Starbucks на Ближнем Востоке? </h2>
            <p>
                Да. Starbucks работает на Ближнем Востоке более 20 лет. Около 19 000 партнеров (сотрудников) по всему региону ежедневно обслуживают миллионы гостей.
            </p>
            <p>
                Местный бизнес-партнер Alshaya Group управляет почти 2000 магазинами Starbucks по всему Ближнему Востоку и Северной Африке. 
                На данный момент в регионе Ближнего Востока работают кофейни в Бахрейне, Египте, Иордании, Кувейте, Ливане, Марокко, Омане, Катаре, 
                Саудовской Аравии, Турции, Казахстане, и Объединенных Арабских Эмиратах. 
            </p>
            <p>
                Несмотря на ложные заявления, распространяемые в социальных сетях, мы никоим образом не связаны с политикой.  
                Мы не используем нашу прибыль для финансирования каких–либо правительственных или военных операций где бы то ни было - и никогда не использовали.
            </p>

            <h2>Является ли Starbucks политической организацией?</h2>
            <p>
                Нет. Мы никоим образом не связаны с политикой. Мы не используем нашу прибыль для финансирования каких–либо 
                правительственных или военных операций где бы то ни было - и никогда не использовали.
            </p>

            <h2>Какова позиция Starbucks о ложной информации в социальных сетях?</h2>
            <p>
                Ложные заявления о том, что из себя представляет Starbucks и за что он выступает, распространяются через социальные сети. 
                Эта дезинформация привела к единичным актам насилия и вандализма в некоторых кофейнях по всему миру. Крайне важно, чтобы мы прояснили ситуацию.
            </p>

            <h2>Почему Starbucks подала в суд на Workers United? </h2>
            <p>
                Starbucks обратилась в суд, чтобы обезопасить наших партнеров и кофейни и положить конец неправомерному использованию названия и логотипов бренда  организацией Workers United при выражении своих взглядов.  
            </p>
            <p>
                В начале октября в социальных сетях были опубликованы заявления о конфликте на Ближнем Востоке с использованием логотипа и названия нашей компании, 
                которые затем были ошибочно приписаны Starbucks, а не Workers United и ее филиалам/представителям. 
            </p>
            <p>
                Ошибочное отнесение этих заявлений к Starbucks привело к путанице, а далее - к угрозам в адрес наших партнеров, 
                нанесению ущерба нашим кофейням и призывам к бойкоту.   
            </p>
            <p>
                Поясним: Starbucks уважает право других выражать свою точку зрения по поводу конфликта на Ближнем Востоке и других политических и социальных вопросов. 
                Однако Starbucks не одобряет неправильное использование названия и логотипов бренда при выражении этих взглядов.    
            </p>

            <h2>А что по поводу Starbucks и профсоюзов?</h2>
            <p>
                Наши партнеры - основа нашего бизнеса, и мы стремимся обеспечить каждого человека, носящего зеленый фартук, возможностью достигнуть лучшего будущего.   
            </p>
            <p>
                Выполнение этого обещания означает поддержку со стороны Starbucks тех партнеров, кто принял решение вступить в профсоюз и вести коллективные переговоры, 
                а также помощь в заключении первых контрактов с целью удовлетворить потребности каждой кофейни-участницы профсоюза.
            </p>
            <p>
                В 2023 году большинство акционеров одобрило резолюцию, призывающую к независимой сторонней оценке приверженности 
                Starbucks принципам свободы ассоциации и права на ведение коллективных переговоров. 
                Результаты оценки прозрачны: нет никаких доказательств того, что Starbucks применяет или применяла "антипрофсоюзный план действий". 
                В оценке подтверждается, что Starbucks уважает право партнеров на их коллективную организацию посредством честно проведенных выборов. 
            </p>
            <p>
                В оценке также делается вывод о том, что Starbucks не намерена отступать от принципов свободы ассоциации и права на ведение коллективных переговоров. 
                Перечислены пункты, которые компания может и должна сделать, чтобы улучшить свои заявленные обязательства и свою приверженность этим важным принципам. 
            </p>
            <p>
                В прошлом году компания заключила третье коллективное соглашение в Канаде с United Steelworkers, 
                и в настоящее время ведутся переговоры с другими кофейнями в Канаде. 
            </p>
            <p>
                Кроме того, в США Starbucks от имени партнеров обратилась к Workers United с просьбой о сотрудничестве и желанием добиться согласия 
                на процесс коллективных переговоров, надеясь добиться достижения соглашений в 2024 году.
            </p>
        </div>
    </div>
    
    <footer class="footer">
        <div class="footer-section">
            <a href="{% url 'about' %}"><h2>О нас</h2></a>
            <a href="https://www.starbucks.com.kz/svyazhites-s-nami"><h2>Связаться с нами</h2></a>
            <a href="https://www.starbucks.com.kz/otvetstvennost"><h2>Социальная ответственность</h2></a>
            <a href="#"><h2>Программа лояльности Starbucks</h2></a>
        </div>

        <div class="footer-social">
            <a href="#"><img src="{% static 'media/Facebook.svg' %}" alt="Facebook"></a>
            <a href="#"><img src="{% static 'media/Instagram.svg' %}" alt="Instagram"></a>
        </div>

        <div class="footer-policies">
            <a href="https://www.starbucks.com.kz/polozhenie-o-konfidencialnosti">Положение о конфиденциальности</a>
            <a href="https://www.starbucks.com.kz/usloviya-ispolzovaniya-sayta">Условия использования сайта</a>
            <a href="#">Политика Starbucks в отношении файлов cookie</a>
            <a href="https://www.starbucks.com.kz/publichnaya-oferta">Публичная оферта</a>
        </div>
    </footer>
</body>
</html>